<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Monitor</title>
</head>
<body>
    <form action="/addMonitor" method="post">
        Name: <input type="text" name="name"><br>
        Surname: <input type="text" name="surname"><br>
        Age: <input type="number" min="16" name="age"><br>
        Increased Scholarship: <input type="number" min="0" name="increasedScholarship"><br>
        <input type=submit value="Ok">
    </form>
<br /><a href="/returnMain">Back to Main menu</a><br />
</body>
</html>
