<div class="header">
    <div class="logo_block">
        <a class="navbar-brand" href="/">
            <img alt="Логотип" src="{{ url_for('static', filename='img/logo.png') }}" class="header_logo">
        </a>
    </div>
    <div class="header_container">
        <ul class="header_menu">
            <li><a href="/" style="padding-right: 37px;">Главная</a></li>
{#            <li><a href="/university" style="padding-right: 37px;">Университет</a></li>#}
<!--            <li><a href="#" style="padding-right: 37px;">Служащие</a></li>-->
<!--            <li><a href="#" style="padding-right: 37px;">Студенты</a></li>-->

        </ul>
    </div>
</div>
