{% extends 'Base.html' %}
<style>

    </style>
{% block title %}

{% endblock %}

{% block body %}

    <a href="/addAdaptation" class="button"><span>Добавить Сериал(Адаптацию)</span></a><br>
    <a href="/addOriginal" class="button"><span>Добавить Сериал(Оригинал)</span></a><br>
    <a href="/delete" class="button"><span>Удалить объект</span></a><br>
    <a href="/PrintAll" class="button"><span>Вывести список</span></a><br>
    <a href="/dumpData" class="button"><span>Сохранить в файл</span></a><br>
    <a href="/loadData" class="button"><span>Загрузить из файла</span></a><br>
    <a href="/clear" class="button"><span>Очистить список</span></a><br>

<div><br>
    <p align="center">
<font size="4" color="Indigo" face="SEGOE PRINT">*Адаптация - сериал, основанный на манге, новелле или серии романов <br>
*Оригинал - сериал, с собственным, "новым" сюжетом<br></font>
</p>
</div>
{% endblock %}

</html>