{% extends 'base.html'%}

{% block title %}
Change strategy
{% endblock %}


{% block section %}
    <div class="Change_strategy" >
            <h1>Change strategy</h1>
            <form action="/change_strategy" method="post">
                <select name="class">
                    {% for class in classes %}
                    <option value="{{ class.text }}">{{ class.text }}</option>
                    {% endfor %}
                </select>
            <input type=submit value="Ok">
            </form>
    </div>
{% endblock section %}