{% extends 'base.html'%}

{% block title %}
Edit member
{% endblock %}


{% block section %}
    <div class="add_member" >
        <h1>Edit member</h1>
        <form method="POST" action="">
            <input type="text" name="name" placeholder="Input name"><br>
            <input type="text" name="surname" placeholder="Input surname"><br>
            <input type="text" name="age" placeholder="Input Age"><br>
            <input type="text" name="position" placeholder="Input position, if it's Player"><br>
            <input type="text" name="role" placeholder="Input role, if it's Manager"><br>
            <input type="text" name="function" placeholder="Input function, if it's Staff"><br>
            <input type=submit value="Edit">
        </form>
    </div>
{% endblock section %}