{% extends 'base.html'%}

{% block title %}
Main page
{% endblock %}


{% block section %}
        <div class="All members" >
            <h1>All members</h1>
            <form action="/index" method="post">
                {% for member in members %}
                <br>Name: {{ member.name }}<br>
                Surname: {{ member.surname }}<br>
                Age: {{ member.age }}<br>
                    {% if member.position %}
                        Position: {{ member.position }}<br>
                    {% endif %}
                    {% if member.role %}
                        Role: {{ member.role }}<br>
                    {% endif %}
                    {% if member.function %}
                        Position: {{ member.function }}<br><br>
                    {% endif %}
                {% endfor %}
            </form>
    </div>
{% endblock section %}

