<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>menu</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div class='links'>
    <div class='link'> <a href="/add">Добавить элемент</a> </div>
    <div class='link'> <a href="/clear">Очистить список</a> </div>
    <div class='link'> <a href="/list">Вывод в источник</a> </div>
    <div class='link'> <a href="/load">Получить (файл/консоль)</a> </div>
    <div class='link'> <a href="/changeStrategy">Изменить источник</a> </div>
</div>
</body>
</html>