<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <header id="toppage">
        <h1 class="site-header1"><a href="/">MAIN</a></h1>
    </header>
    <main>
        <nav>
            <ol>
                <li>
                    <form action="/search" method="get">
                        <input type="text" id="search-param" name="search-param">
                        <input type="submit" value="Search">
                    </form>
                </li>
                <li><a href="/add_element">Add element</a></li>
                <li>
                    <a href="/clear">Clear</a>
                </li>
            </ol>
        </nav>
        <hr>
        <div id="content">
            {% block content %} {% endblock %}
        </div>
    </main>
</body>
</html>