{% extends 'index.html' %}

{% block title %}
Добавить
{% endblock %}

{% block content %}
    <h1>Заполните все поля!</h1>
    <form action="/append_worker" method="post">
        <label for="name">Имя:</label>
        <br>
        <input name="name" id="name">
        <br><br>
        <label for="age">Возраст:</label>
        <br>
        <input name="age" id="age">
        <br><br>
        <label for="salary">Зарплата:</label>
        <br>
        <input name="salary" id="salary" type="number">
        <br><br>
        <input type="submit" value="Добавить"/>
        <br>
    </form>


{% endblock %}