{% extends 'index.html' %}

{% block title %}
Добавить
{% endblock %}

{% block content %}
    <h1>Выберите, кого хочешь добавить!</h1>
    <input type="button" onclick="window.location.href='/add_student'" value="Ученик">
    <br><br>
    <input type="button" onclick="window.location.href='/add_starosta'" value="Староста">
    <br><br>
    <input type="button" onclick="window.location.href='/add_worker'" value="Сотрудник">
    <br><br>
    <input type="button" onclick="window.location.href='/add_teacher'" value="Учитель">
    <br><br>
    <input type="button" onclick="window.location.href='/add_director'" value="Директор">
{% endblock %}

