<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>addNewTeacher</title>
</head>
<body>
    <form action="/updateTeacher/{{ url }}" method="post">
        Имя: <input type="text" name="name"><br>
        Фамилия: <input type="text" name="surname"><br>
        Рейтинг: <input type="number" min="0" max=10 name="rating"><br>
        Характеристика: <input type="text"  name="characteristic"><br>
        Образование: <input type="text" name="education"><br>
        Предмет: <input type="text" name="subject"><br>
        <input type=submit value="Ok">
    </form>
</body>
</html>