{% extends 'base.html'%}

{% block title %}

{% endblock %}


{% block section %}

    {% for employee in employee_list %}
        ID: {{ employee.id }}<br>
        Full name: {{ employee.full_name }}<br>
        Position: {{ employee.position }}<br>
        Salary: {{ employee.salary }}<br>

        {% if employee.department %}
            Department: {{ employee.department }}<br>
        {% endif %}

        {% if employee.qualification %}
            Qualification: {{ employee.qualification }}<br>
        {% endif %}
        <a href='/edit_employee/{{employee.id}}'>Edit</a>
        <a href='/delete_employee/{{employee.id}}'>Delete</a><br><br>
    {% endfor %}


{% endblock section %}