<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lab2_Semitko</title>
</head>
<body>
    <form action = '/add' method=POST>
        <input type=hidden name=id value={{id}}>
        <input type=text name=name placeholder='Name' value={{name}}><br>
        <input type=text name=surname placeholder='Surname' value={{surname}}><br>
        <input type=text name=age placeholder='Age' value={{age}}><br>
        <input type="checkbox" name="capstud" placeholder='Name'/><br>
        <input type=text name=exp placeholder='Experience' value={{experience}}><br>
        <br><input type=submit value="Ok">
    </form>
</body>
</html>