<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>addElement</title>
</head>
<body>
    <form action="/add" method="post">
        Имя: <input type="text" name="name"><br>
        Фамилия: <input type="text" name="surname"><br>
        Возраст: <input type="number" min="0" name="age"><br>
        Оценка: <input type="number" min="2" max="5" name="mark"><br>
        Стипендия: <input type="number" min="0" name="grant"><br>
        Номер в списке: <input type="number" min="0" name="number"><br>
        <input type=submit value="Ok">
    </form>
</body>
</html>