<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lab2_Devin</title>
</head>
<body>
    <form action="/addStudent" method="POST">
        Имя: <input type="text" name="name"><br>
        Фамилия: <input type="text" name="surname"><br>
        Возраст: <input type="number" min="0" name="age"><br>
        Оценка: <input type="number" min="2" max="5" name="mark"><br>
        Добавить в файл?<input type="checkbox" name="check"><br>
        <input type=submit value="Ok">
    </form>
    <br /><a href="/returnMain">Вернуться в главное меню</a><br />
</body>
</html>