{% extends 'base.html' %}

{% block title %} Список группы {% endblock %}

{% block content %}
    <div class="header header__group">
        <button type="button" class="btn btn-outline-secondary" onclick="location.href = '/'">Выйти</button>
        <span class="header-title">{{ group.name }}</span>
        <button type="button" class="btn btn-outline-primary" onclick="location.href = '/group/add'">Добавить</button>
    </div>
    <div class="wrapper-list">
        <ul class="list-group">
            {% for member in group.group_members %}
                <li class="list-group-item">
                    <span>{{ member.type }} {{ member.name }} {{ member.second_name }}</span>
                    <div class="buttons">
                        <button type="button" class="btn btn-outline-primary btn-sm" onclick="location.href = '/group/edit/{{ member.id }}'">Редактировать</button>
                        <button type="button" class="btn btn-outline-danger btn-sm" onclick="location.href = '/api/student/delete/{{ member.id }}'">Удалить</button>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}